# Default ignored files
/.idea/shelf/
/.idea/workspace.xml

# Project exclude paths
/cgi-bin/Image-ExifTool-*
/library/vendor/composer/
/library/vendor/philharvey/exiftool/
/library/vendor/speich.net/WebsiteTemplate/
/library/vendor/tsmgeek/exif-tool_php_stayopen/

# Datasource local storage ignored files
/.idea/dataSources/
dataSources.local.xml

# Editor-based HTTP Client requests
/.idea/httpRequests/
rest-client.private.env.json
http-client.private.env.json
/website/dbprivate/dbfiles/FotoDb.sqlite
/website/dbprivate/dbfiles/user.sqlite
# you can't commit empty folders in git. You need to put at least an empty file in it.
/website/dbprivate/images/*
/website/dbprivate/images/.gitkeep