

#ImgExplTop {
	overflow: auto;
}

.FileExplorer td {
	padding: 4px;
	vertical-align: top;
}

.FileExplorer td:nth-child(2) {
	text-align: right;
}

.FileExplorer img {
	width: 80px;
	border: 1px solid grey;
}

.FileExplorer a { text-decoration: none; }


.FileExplorer .selected {
	background-color: #00aaff;
}

.MarkDone {
	background-color: green;
}
	 
.MarkOpen {
	background-color: inherit;
}

.exifData th[scope="row"] {
    text-align: left;
    color: #aaa;
}
.exifData th[scope="rowgroup"] {
    text-align: left;
    font-weight: bold;
}
