input, textarea, select {
	margin: 0 0 0 0; padding: 0 0 0 0; 
	border: 1px solid rgb(100,100,100);
	background-color: rgb(223,208,194);
	width: 180px;
}

input, select { height: 16px; }

select { height: 18px; }

input, textarea {  padding: 1px 1px 1px 1px } 

textarea { font-size: inherit; font-family: inherit; }

label {
	margin: 0 4px 0 0;
  text-align: left;
  width: 140px;
  float: left;
}

select[id=FilmTypeId] { width: 400px; }

select[id=RatingId] { width: 50px; }

select[id=ImgDate] { width: 100px; }

select[id^=SpeciesSex] { width: 100px; }

input[type=checkbox] { width: 15px; }

input[type=button] { width: 50px; background-color: blue; color: white}

.FldSpeciesList {
	position: absolute;
	display: none;
	top: 0; left: 0;
	height: 200px;
}

#ImgTitle, #ImgDesc {
	width: 230px;
}

#ImgDesc {
	height: 80px;
}

#DivSpeciesModule { 
	margin-bottom: 15px;
}

#DivSpeciesModule label { float: none; }

.ContList {
	margin: 7px 0 7px 0;
	padding: 5px 5px 5px 5px;
	border: 1px solid rgb(100,100,100);
	overflow: auto;
	-moz-border-radius: 10px;
}

.ContList > div {
	border-bottom: 1px solid grey;
}

.FldSpeciesFilter, .FldSpeciesList { width: 140px; }

#Locations { width: 430px; margin: 15px 0 0 15px; height:150px }
#Location { height: 280px; }
#Species { width: 515px; height: 160px; }
#Keywords { width: 220px; height: 160px; }
